/*CONTACT US page*/
.contact-section {
    padding: 9.6rem 1rem;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /*2/3 for the first grid, 1/3 for the second grid*/
    background-color: var(--orange);
    box-shadow: var(--shadow);
    border-radius: 15px;
    /*make the border round*/
    height: 60rem;
    background-image: linear-gradient(to right bottom, #f8947b, var(--orange));
}

.contact-box {
    padding: 1.5rem 2.5rem;
    color: var(--dark);
}

.contact-img {
    background: linear-gradient(to right bottom, rgba(235, 151, 78, 0.30), rgba(230, 125, 34, 0.30)), url(../images/contact-bg.jpg) center/cover no-repeat;
    /*the background cover entirely*/
    height: 127.5vh;
}

.contact-block .second-heading {
    color: #2e1907;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.contact-form {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.contact-form label {
    display: block;
    /*display the label on its own line*/
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
}

.contact-form input,
.contact-form select {
    width: 70%;
    /*occupy the parent element*/
    padding: 0.5rem;
    font-size: 1rem;
    /*increase the font-size of the input text*/
    font-family: inherit;
    /*inherit the root font-family*/
    border: none;
    background-color: #fcd1c6;
    border-radius: 9px;
    box-shadow: var(--shadow);
    color: inherit;
}

.contact-form input::placeholder {
    color: #787878;
    /*make the color of the placeholder less faint*/
}

.contact-form *:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(253, 242, 233, 0.5)
}

.btn--contact {
    background-color: var(--orange);
    color: #fff;
    align-self: end;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.btn--contact::hover {
    background-color: #fff;
}

.message {
    width: 90%;
    height: 10rem;
}

/*error display*/
input.invalid {
    border: 0.1rem solid #ff0000;
}

.error-display {
    color: #ff0000;
}

.hidden {
    display: none;
}

.feedback {
    font-size: 3rem;
    margin-top: 20rem;
    text-align: center;
}

.contact-logo,
.contact-nav .nav-link
{
    color: var(--dark);
}

.contact-logo span
{
    color: var(--orange);
}

.dark-mode .contact-logo,
.dark-mode .contact-nav .nav-link,
.dark-mode .contact-logo span
{
    color: #fff;
}
