@media screen and (max-width: 460px) {
    .card-item-content {
        transform: translateY(68%);
    }

    .scrollup {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header-title p {
        font-size: 1.4rem;
    }

    .card-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .card-item,
    .box {
        margin: 0;
    }
}

@media screen and (min-width: 992px) {
    .header-title h1 {
        font-size: 4rem;
    }

    .header-form form {
        flex-direction: row;
        align-items: stretch;
    }

    .header-form .form-control,
    .header-form .btn {
        margin: 0 .5rem;
    }

    #navbar-show-btn {
        display: none;
    }

    #navbar-collapse {
        display: block !important;
        background-color: transparent;
        transform: translateX(0);
        height: auto;
        padding: 0;
        position: static;
        width: 100%;
    }

    #navbar-close-btn {
        display: none;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }

    .nav-item {
        margin: 0;
        margin-left: 2rem;
    }

    .navbar-cng .navbar-nav .nav-link {
        color: var(--dark);
    }

    .logo-footer {
        margin-right: 5rem;
    }

    .gallery {
        max-width: 120rem;
    }
}

@media screen and (max-width:992px) {
    .first-heading {
        font-size: 3.5rem;
    }

    .photo-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .review-container {
        width: 100%;
    }

    .gallery {
        grid-template-columns: 1fr;
        /*1 column per fraction*/
        gap: 4.6rem;
    }

    .gallery-img {
        width: 70%;
        margin-left: 20%;
    }

    .gallery-tagline {
        text-align: center;
        justify-content: center;
    }

    .photo-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .card-row {
        grid-template-columns: repeat(3, 1fr);
    }
}